{% extends "base.jinja" %}
{% block content %}

    <ul>
    {% if 'username' not in session %}
        <li><a href="/register">Register</a></li>

         <h1>Login!</h1>

        <form method="POST">
            {% include "_form.jinja" %}
            <button class="btn btn-success" type="submit">Login</button>
        </form>
    {% endif %}

    {% if 'username' in session %}

        <form action="/logout" method="POST">
        {{form.hidden_tag()}}
        <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    {% endif %}
    </ul>

{% endblock %}