{% extends 'base.jinja' %}

{% block title %} Add a note {% endblock %}

{% block content %}

  <!-- Test comment for note_edit -->
  <h1 class="pt-4 mb-3 text-center">Add a Post</h1>

  <div class="ms-3 me-3">
    <form action="/users/{{ username }}/notes/add" method="POST" class="pb-4">

      <div class="mb-3 row">

      {% include "_form.jinja" %}

      <a href="/users/{{ username }}" class="btn btn-primary btn-lg w-100">
        Cancel
      </a>
      <button class="btn btn-primary btn-lg w-100">
        Add
      </button>
    </form>
  </div>

{% endblock %}